@import '../../style.scss';
@import '../CustomInput/CustomInput.scss';

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    transform: scale(0);
    @include flexColumn;
    z-index: 11;

    &.activeModal {
        transform: scale(1);
    
    }
    &__content {
        background-color: $black-for-windows;
        // width: max-content;
        // max-width: 90vw;
        // width: 100%;
        height: max-content;
        border-radius: 20px;
        padding: 40px;

        &__head {
            @include flexRow;
            margin-bottom: 60px;

            &__h3 {
                @include h3BoldStyle;
                color: $light-gray-text;
            }

            &__img {
                @include closeBtnIcon;

                &:hover {
                    @include hoverCloseBtnIcon;
                }
                &:active {
                    @include activeCloseBtnIcon;
                }
            }
        }

        &__body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 10px;
            
            &__infoBlock {
                @include flexColumn;
                align-items: flex-end;
                justify-content: flex-start;
                gap: 35px;

                &__wrapper {
                    @include flexRow;
                    gap: 20px;
                    

                    &__outlineBtn {
                        @include bodyBtn;

                        &:hover {
                            @include bodyBtnHover;
                        }
                    }

                    &__fillBtn {
                        @include FillBodyBtn;

                        &:hover {
                            @include FillBodyBtnHover;
                        }

                        &:active {
                            @include FillBodyBtnActive;
                        }
                    }
                }
            }
        }
    }
}

// .modal__outline {
//     /*рабочее решение в 1 строку для кнопки с надписью "обзор..."*/
//     color: transparent;
//     transform: translateX(20%);

//     &::file-selector-button {
//         @include bodyBtn;

//         &:hover {
//             @include bodyBtnHover;
//         }
// }
// }

.modal__label {
    @include bodyBtn;
    position: relative;

    &:hover {
        @include bodyBtnHover;
    }
}

.modal__outline {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.input.modalInput {
    width: 35vw;
}

@media screen and (max-width: 1000px) {
    .modal__content__head__h3 {
        font-size: 16px;
    }
    
}


@media screen and (max-width: 890px) {
    .modal__content {
        height: auto;
        // overflow-y: auto;
        z-index: 15;
        margin: 20px;
    }
    .modal__content__body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
    }
    .modal__content__body__infoBlock {
        align-items: center;
    }
    .input.modalInput {
        width: 55vw;
    }
    .modal__content__head__h3 {
        font-size: 16px;
    } 
}

@media screen and (max-width: 580px) {
    .modal__content__head__h3, .modal__content__body__infoBlock__wrapper__fillBtn,.modal__content__body__infoBlock__wrapper__outlineBtn {
        font-size: 14px;
    }
}

@media screen and (max-width: 495px) {
    .modal__content {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .modal__content__body {
        justify-items: center;
        align-items: center;
    }
    .modal__content__body__wrapper {
        width: 100%;
    }
    .modal__content__body__infoBlock {
        width: 100%;
    }
    .input__wrapper, .input__label, .input__textarea, #tagsImg {
        width: 100%;
    }
    .input.modalInput, #nameImg {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .input.modalInput {
        width: 280px;
    }
    .modal__content {
        padding: 35px;
    }
}

@media screen and (max-width: 355px) {
    .modal__content {
        padding: 30px;
    }
    .input.modalInput {
        width: 250px;
    }
}
