*{
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    height: 100px;
    padding: 0px 20px;
}

#Buttons{
    margin-left: 30%;
}

#addImageBtn{
    width: 100px;
    height: 50px;
}

img{
    width: 250px;
    height: 150px;
    border-radius: 20px;
    margin: 0px 10px;
    background-color: grey;
}

#content{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}