* {
    margin: 0px;
    box-sizing: border-box;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    height: 100px;
    padding: 0px 20px;
}
/* add button sec */
#Buttons {
    margin-left: 30%;
}
/* add butt */
#optionBtn {
    width: 100px;
    height: 50px;
}

/* for images */
img {
    width: 250px;
    height: 150px;
    border-radius: 20px;
    margin: 0px 10px;
    background-color: grey;
}


#content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

/* info about selected image */
#imageInfo {
    width: 80vw;
    height: 80vh;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5vh;
    text-align: center;
    padding: 20px 0px;

    /* z-index: 5; */
    position: absolute;
    background-color: aqua;
}

/* style for add form */
#addForm {
    width: 80vw;
    height: 80vh;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5vh;
    text-align: center;
    padding: 20px 0px;

    /* z-index: 5; */
    position: absolute;
    background-color: aqua;
}