@import '../../style.scss';

/*---------mixins for styling input-------*/ 
@mixin inputStyle {
    @include h4Style;
    margin-top: 10px;
    width: 400px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: $main-black;
    color: $dark-gray-text;
    font-family: "Ubuntu", sans-serif;
    border: 2px solid $main-black;
}

@mixin inputStyle_hover {
    border: 2px solid $dark-gray-text;
}

@mixin inputStyle_active {
    border: 2px solid $dark-gray-text;
}
/*----------------*/ 

.input {
    @include inputStyle;

    &:active {
       @include inputStyle_active;
    }
    &:hover {
       @include inputStyle_hover;
    }

    &__auth {
        @include inputStyle;

            &:active {
                @include inputStyle_active;
            }
            &:hover {
                @include inputStyle_hover;
            }

            &.password {
            padding-right: 45px;

            &::-moz-selection {
                background: none;
            }
            &::selection {
                background: none;
            }
            }
    }

    &__label {
        @include h3Style;
        color: $light-gray-text;
        @include flexColumn;
        align-items: flex-start;

        // &.labelPassword {
        //     // @include flexRow;
        //     // justify-content: center;
        // }
    }

    &__wrapper {
        @include flexColumn;
        align-items: flex-start;
        gap: 5px;
    }

    &__wrapper2 {
        @include flexColumn;
        align-items: flex-start;
        color: $light-gray-text;
        font-size: 18px;
    }

    &__error {
        color: $error-red;
        @include h5Style;
    }

    &__textarea {
       @include inputStyle;
        width: 35vw;
        height: 21vh;
        resize: none;

        &:active {
           @include inputStyle_active;
        }
        &:hover {
           @include inputStyle_hover;
        }
    }
}

.icon__wrapper {
    display: block;
    position: relative;
    height: -moz-max-content;
    height: max-content;
    // position: absolute;
    // top: 0;
    // right: 0;
    // transform: translate(-50%, -50%);
}

.iconOpen {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-25%);

    &:hover {
        transition: $transition;
        cursor: pointer;
    }
}

.iconClose {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-25%);

    &:hover {
        transition: $transition;
        cursor: pointer;
    }
}


@media screen and (max-width: 1075px) {
    .input__textarea {
       height: 18vh;
    }
       
   }

@media screen and (max-width: 1000px) {
    .input__label, .input__wrapper2 {
        font-size: 16px;
    }
    .input__auth {
    width: 350px;
    }
}

@media screen and (max-width: 890px) {
    .input__textarea {
        height: 14vh;
        width: 55vw;
    }
}


@media screen and (max-width: 580px) {
    .input__label, .input__wrapper2 {
        font-size: 14px;
        width: 100%;
    }
    .input__auth {
    width: 320px;
    font-size: 12px;
    }
}

@media screen and (max-width: 495px) {
    .input__textarea {
        height: 125px;
        width: 300px;
    }
}


@media screen and (max-width: 385px) {
    .input__auth {
    width: 280px;
    }
}

@media screen and (max-width: 400px) {
    .input__textarea {
        width: 280px;
    }
}
@media screen and (max-width: 355px) {
    .input__textarea {
        width: 250px;
    }
}