@import '../../style.scss';

.input {
    @include h4Style;
    margin-top: 10px;
    width: 35vw;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: $main-black;
    color: $dark-gray-text;
    font-family: "Ubuntu", sans-serif;
    border: 2px solid $main-black;

    &:active {
        border: 2px solid $dark-gray-text;
    }
    &:hover {
        border: 2px solid $dark-gray-text;
    }

    &__auth {
        @include h4Style;
            margin-top: 10px;
            width: 25vw;
            padding: 15px 20px;
            border-radius: 20px;
            background-color: $main-black;
            color: $dark-gray-text;
            font-family: "Ubuntu", sans-serif;
            border: 2px solid $main-black;

            &:active {
                border: 2px solid $dark-gray-text;
            }
            &:hover {
                border: 2px solid $dark-gray-text;
            }

            &.password {
                
            }
    }

    &__label {
        @include h3Style;
        color: $light-gray-text;
        @include flexColumn;
        align-items: flex-start;
    }

    &__wrapper {
        @include flexColumn;
        align-items: flex-start;
        gap: 5px;
    }

    &__error {
        color: $error-red;
        @include h5Style;
    }

    &__textarea {
        @include h4Style;
        margin-top: 10px;
        width: 35vw;
        height: 21vh;
        padding: 15px 20px;
        border-radius: 20px;
        background-color: $main-black;
        color: $dark-gray-text;
        font-family: "Ubuntu", sans-serif;
        border: 2px solid $main-black;
        resize: none;

        &:active {
            border: 2px solid $dark-gray-text;
        }
        &:hover {
            border: 2px solid $dark-gray-text;
        }
    }
}