@import '../../style.scss';

.main_empty {
    @include flexColumn;
    margin-top: 70px;
    gap: 20px;

    &__text {
        @include h4Style;
        color: $dark-gray-text;
    }
}

@media screen and (max-width: 580px) {
    .main_empty__text {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 375px) {
    .main_empty__text {
        width: 280px;
        text-align: center;
    }
    
}