@import '../../style.scss';

.button {
    width: 70px;
    height: 70px;
    display: block;
    visibility: hidden;
    position: fixed;
    right: 55px;
    bottom: 15px;
    @include flexColumn;
    background-color: $main-purple;
    border: none;
    border-radius: 50%;
    transition: $transition;

    &:hover {
        background-color: $hover-purple;
        cursor: pointer;
        transition: $transition;
    }

    &.active {
        visibility: visible;
        transition: $transition;
    }
}

@media screen and (max-width: 768px) {
    .button {
        width: 60px;
        height: 60px;
        right: 10px;
        bottom: 80px;
        z-index: 2;
    }
    
}