@import '../../style.scss';

.layout__card {
        max-height: 500px;
        min-height: -moz-min-content;
        min-height: min-content;
        height: 100%;
        max-width: 300px;
        width: 100%;
        background-color: $main-black;
        color: $main-white;
        border-radius: 20px;
        margin-top: 15px;

        &__wrapper {
            max-height: -moz-max-content;
            max-height: max-content;
            min-height: 355px;
            max-width: 300px;
            width: 100%;
            @include flexColumn;
            
            &:hover {
                opacity: 1;
            }
        }

        &__titleWrap {
            @include flexRow;
            padding: 15px;
            height: -moz-max-content;
            height: max-content;
            width: auto;
            max-width: 300px;
            
            &__title {
                font-size: 18px;
                font-weight: 400;
                word-break: break-all;
            }

            &__icon {
            padding-left: 5px;

            &:hover {
                cursor: pointer;
            }
        }
        }

        &__image {
            border-radius: 20px;
            width: 100%;
            max-width: 300px;
            min-height: 200px;
            height: -moz-max-content;
            height: max-content;
            max-height: 280px;
            object-fit: fill;
        }

        &__tagList {
            @include flexRow;
            padding: 15px;
            min-height: 55px;
            max-height: -moz-max-content;
            max-height: max-content;
            height: 100%;
            width: 100%;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            word-spacing: 2px;
        }
}

@media screen and (max-width: 1000px) {
    .layout__card__titleWrap__title {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 580px) {
    .layout__card__titleWrap__title {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 385px) {
    .layout__card__titleWrap__title, .layout__card__tagList {
        font-size: 14px;
    }
    
}