@import '../../style.scss';

.layout__card {
        min-height: 355px;
        height: 100%;
        max-width: 300px;
        width: 100%;
        background-color: $main-black;
        color: $main-white;
        border-radius: 20px;
        margin-top: 15px;

        &__wrapper {
            min-height: 355px;
            max-width: 300px;
            width: 100%;
            @include flexColumn;
            
            &:hover {
                opacity: 1;
            }
        }

        &__titleWrap {
            @include flexRow;
            padding: 15px;
            height: max-content;
            
            &__title {
                font-size: 18px;
                font-weight: 400;
            }
        }

        &__image {
            border-radius: 20px;
            width: 100%;
            max-width: 300px;
            min-height: 200px;
            height: 100%;
            max-height: 240px;
            object-fit: fill;
        }

        &__tagList {
            @include flexRow;
            padding: 15px;
            min-height: 55px;
            max-height: max-content;
            height: 100%;
            width: 100%;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            word-spacing: 2px;
        }
}