@import '../../style.scss';
@import '../../pages/SingUpPage/SingUpPage.scss';

.forgorPass {
    gap: 10px;
    &__text {
        @include h4Style;
        color: $light-gray-text;
        margin-top: 25px;
    }
}

@media screen and (max-width: 585px) {
    .forgorPass__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 490px) {
    .forgorPass__text {
        width: 380px;
        text-align: center;
    }
}

@media screen and (max-width: 385px) {
    .forgorPass__text {
        width: 320px;
    }
}