@import '../../style.scss';

.favorite_icon {
    width: 25px;
    height: 24px;
    display: block;

    &__outline {
        width: 25px;
        height: 24px;
        display: block;
        background: url('../../images/favoutline.svg') center center no-repeat;

        &:hover {
            width: 25px;
            height: 24px;
            display: block;
            background: url('../../images/favoutline_hover.svg') center center no-repeat;
            transition: $transition;
            cursor: pointer;
        }
    }

    &__fill {
        width: 25px;
        height: 24px;
        display: block;
        background: url('../../images/favfill.svg') center center no-repeat;

        &:hover {
            width: 25px;
            height: 24px;
            display: block;
            background: url('../../images/favfill_hover.svg') center center no-repeat;
            transition: $transition;
            cursor: pointer;
        }
    }
    

}