@import '../../style.scss';

.footer {
    flex-shrink: 0;

    &__bg {
        display: block;
        // max-width: 100vw;
        width: 100%;
        height: 100px;
        background-color: $main-black;
    }

    &__fg {
        display: block;
        width: 100%;
        height: 100px;
        background-color: $black-for-bg;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        @include flexRow;
        padding: 10px 55px;
        
        &__text {
            font-size: 12px;
            color: $light-gray-text;

            &__link {
                font-size: 12px;
                color: $light-gray-text;

                &:hover {
                    color: $dark-gray-text;
                    transition: $transition;
                }
            }

            
        }
    }
}

@media screen and (max-width: 385px) {
    .footer__fg {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    
}