@import '../../style.scss';
@import '../EditImageModal/EditImageModal.scss';

.modal__content__body {

    &__input {
            min-width: 35vw;
    }

    &__iconWrapper {
        @include flexRow;
        gap: 25px;
    }

}

.wrappers {
    @include flexColumn;
    align-items: flex-start;
    gap: 30px;
}

