@import '../AddImageModal/AddImageModal.scss';
@import '../../style.scss';

.modal__content__body__imgBlock {
    height: 56vh;
    width: 38vw;
    max-height: -moz-max-content;
    max-height: max-content;
    height: 100%;

    &__img {
        object-fit: fill;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}
.autoBtn {
    margin-top: auto;
}

#nameImg {
    width: 35vw;
}
@media screen and (max-width: 1075px) {
    .modal__content__body__wrapper {
        height: 30vh;
    }
    .modal__content__body__imgBlock {
        width: 100%;
    }
    
}

@media screen and (max-width: 890px) {
    #nameImg {
        width: 55vw;
    }
    
}

@media screen and (max-width: 545px) {
    .modal__content__body__infoBlock__wrapper.autoBtn {
        flex-direction: column-reverse;
        width: 100%;
    }
    .modal__content__body__infoBlock__wrapper__fillBtn, .modal__content__body__infoBlock__wrapper__outlineBtn {
        width: 100%;
    }
    
}

@media screen and (max-width: 495px) {
    #nameImg {
        width: 300px;
    }
    .modal__content__body__imgBlock {
        height: 235px;
    }
    
}

@media screen and (max-width: 400px) {
    #nameImg {
        width: 280px;
    }
    
}

@media screen and (max-width: 355px) {
    #nameImg {
        width: 250px;
    }
}