@import '../../style.scss';

.dev__wrapper {
    @include flexColumn;
    gap: 100px;
    margin: 100px auto;

    &__cards {
        @include flexColumn;
        width: 100%;
        gap: 45px;
    }

    &__info {
        @include flexColumn;
        gap: 25px;
        
        &__btn {
            @include bodyBtn;
            display: block;
            text-decoration: none;

            &:hover {
                @include bodyBtnHover;
            }

            &:active {
                color: $main-purple;
            }
        }

        &__version {
            @include h4Style;
        }
    }
}

@media screen and (max-width: 580px) {
    .card_wrapper__first__name {
        font-size: 15px;
    }
    .dev__wrapper__info__btn, .dev__wrapper__info__version {
        font-size: 14px;
    }
}
