//---------colors-------

$main-white: #FAFAFA;
$main-black: #1D1D1D;
$black-for-bg: #060606;
$black-for-windows: #141414;
$main-purple: #9E76E9;
$hover-purple: #765bab;
$light-gray-text: #C5C5C5;
$dark-gray-text: #B0AFAF;
$error-red: #CA0524;

//-------effects--------

$boxShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.42);
$transition: all 0.3s;
$transitionToNotif: all 0.7s;

//---------text----------
@mixin h1Style {
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    font-weight: 500;
}

@mixin h2Style {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

@mixin h3Style {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

@mixin h3BoldStyle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

@mixin h4Style {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

@mixin h4BoldStyle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

@mixin h5Style {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

//---------reset-----------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: $main-white;
}
body {
    background-color: $black-for-bg;
}

//-----------position------------
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

//---------
.forgotPassWrapper {
    max-height: 100vh;
    height: 100%;
    overflow-y: hidden;

}

//---------------styles for outline btn-------------
@mixin bodyBtn {
    @include h4BoldStyle;
    background-color: $main-black;
    color: $main-purple;
    border: 2px solid $main-purple;
    border-radius: 30px;
    padding: 12px 20px;
}

@mixin bodyBtnHover {
    border: 2px solid $hover-purple;
    color: $hover-purple;
    cursor: pointer;
    transition: $transition;
}

//---------------styles for fill btn-------------

@mixin FillBodyBtn {
    @include h4BoldStyle;
    background-color: $main-purple;
    color: $main-black;
    border: 2px solid $main-purple;
    border-radius: 30px;
    padding: 12px 20px;
}

@mixin FillBodyBtnHover {
    border-color: $main-purple;
    background-color: $hover-purple;
    cursor: pointer;
    transition: $transition;
}

@mixin FillBodyBtnActive {
    border-color: $hover-purple;
    cursor: pointer;
    transition: $transition;
}

//------------style for X button 
@mixin closeBtnIcon {
    width: 24px;
    height: 24px;
    background: url("./images/close.svg") center center no-repeat;
    cursor: pointer;
}

@mixin hoverCloseBtnIcon {
    background: url("./images/close_hover.svg") center center no-repeat;
                    cursor: pointer;
                    transition: $transition;
}

@mixin activeCloseBtnIcon {
    background: url("./images/close_active.svg") center center no-repeat;
                    cursor: pointer;
                    transition: $transition;
}

@mixin blackCloseBtnIcon {
    width: 24px;
    height: 24px;
    background: url("./images/black_close.svg") center center no-repeat;
    cursor: pointer;
}

//------------scrollbar--------

//---for firefox
* {
    scrollbar-color: $hover-purple $black-for-windows;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $black-for-windows;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $hover-purple;
    border-radius: 10px;
    box-shadow: $boxShadow;
}

body {
    overscroll-behavior-y: contain;
    overflow-y: auto;
    scrollbar-gutter: auto;
}