@import "../../style.scss";

.header {
    background-color: $main-black;
    // max-width: 100vw;
    // width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin: 20px 15px 0 15px;
    padding: 30px 40px;
    border: none;
    border-radius: 30px;
    @include flexRow;

    &__link {
        text-decoration: none;
    }

    &__nav {

        &__ul {
            @include flexRow;
            gap: 20px;


            &__li {
                list-style-type: none;
                @include h4Style;
                color: $main-white;
                display: flex;
                flex-direction: row;

                &__link {
                    display: block;
                    text-decoration: none;
                    padding: 12px 20px;
                    border-radius: 30px;
                    color: $main-white;

                    /*это для того, чтобы 
                    ссылки не дергались при переключении*/
                    border: 2px solid $main-black;

                    &:hover {
                        color: $hover-purple;
                        cursor: pointer;
                        transition: $transition;
                    }
                }

            }
        }
    }

    /*for NavLink*/
    .active {
        border: 2px solid $main-purple;
                        border-radius: 30px;
                        text-decoration: none;
                        padding: 12px 20px;
                        color: $main-white;
                        color: $main-purple;
    }

    &__btns {
        display: flex;
        flex-direction: row;
        gap: 15px;

        &__login {
            width: 42px;
            height: 42px;
            background-color: $main-black;
            border-radius: 50%;
            border: 2px solid $main-purple;
            @include flexColumn;
            background: url("../../images/login_icon.svg") center center no-repeat;

            &:hover {
                border: 2px solid $hover-purple;
                cursor: pointer;
                transition: $transition;
                background: url("../../images/login_icon_hover.svg") center center no-repeat;
                
            }

            &:active {
                border: 2px solid $hover-purple;
                cursor: pointer;
            }
        }
    }
}

.loginBtnActive {
    width: 42px;
    height: 42px;
    background-color: $main-black;
    border-radius: 50%;
    border: 2px solid $main-purple;
    @include flexColumn;
    cursor: pointer;
    background: url('../../images/login_icon_active.svg') center center no-repeat;
}


@media screen and (max-width: 880px ) {
    .header__nav__ul {
        gap: 10px;
    }
    .header__nav__ul__li {
        gap: 0px;
    }
    .header__nav__ul__li__link, .header__nav__ul__li__link.active {
        padding: 10px 20px;
        font-weight: 500;
    }
    .header__btns__login {
        width: 38px;
        height: 38px;
    }
}

@media screen and (max-width: 800px ) {
    .header__nav__ul {
        gap: 0px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        background-color:transparent;
        margin: 30px 55px;
        padding: 0;
    }
    .header__logo {
        font-size: 30px;
    }
    
}

@media screen and (max-width: 580px) {
    .header {
        margin: 30px 40px;
    }
}

@media screen and (max-width: 385px) {
    .header {
        margin: 30px 25px;
    }
}
