@import '../../style.scss';

.wrapper_layout {
    //в принципе работает, но немного не так
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: -moz-max-content;
    grid-auto-rows: max-content;

    //работает только при 1920px 
    // display: flex;
    // flex-flow: column wrap;
    // align-content: center;
    // height: 1200px;
    // max-height: max-content;
    width: 100%;
    row-gap: 10px;
    column-gap: 2vw;
    justify-content: center;
    align-items: flex-start;
    justify-items: center;

}
