* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #FAFAFA;
}

body {
  background-color: #060606;
}

.forgotPassWrapper {
  overflow: hidden;
}

* {
  scrollbar-color: #765bab #141414;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #141414;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #765bab;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.42);
}

body {
  overscroll-behavior-y: contain;
  overflow-y: auto;
  scrollbar-gutter: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #FAFAFA;
}

body {
  background-color: #060606;
}

.forgotPassWrapper {
  overflow: hidden;
}

* {
  scrollbar-color: #765bab #141414;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #141414;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #765bab;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.42);
}

body {
  overscroll-behavior-y: contain;
  overflow-y: auto;
  scrollbar-gutter: auto;
}

/*---------mixins for styling input-------*/
/*----------------*/
.input {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  width: 400px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #1D1D1D;
  color: #B0AFAF;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid #1D1D1D;
}
.input:active {
  border: 2px solid #B0AFAF;
}
.input:hover {
  border: 2px solid #B0AFAF;
}
.input__auth {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  width: 400px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #1D1D1D;
  color: #B0AFAF;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid #1D1D1D;
}
.input__auth:active {
  border: 2px solid #B0AFAF;
}
.input__auth:hover {
  border: 2px solid #B0AFAF;
}
.input__auth.password {
  padding-right: 45px;
}
.input__label {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #C5C5C5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.input__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 5px;
}
.input__wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  color: #C5C5C5;
  font-size: 18px;
}
.input__error {
  color: #CA0524;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.input__textarea {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  width: 400px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #1D1D1D;
  color: #B0AFAF;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid #1D1D1D;
  width: 35vw;
  height: 21vh;
  resize: none;
}
.input__textarea:active {
  border: 2px solid #B0AFAF;
}
.input__textarea:hover {
  border: 2px solid #B0AFAF;
}

.icon__wrapper {
  display: block;
  position: relative;
  height: -moz-max-content;
  height: max-content;
}

.iconOpen {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-25%);
}
.iconOpen:hover {
  transition: all 0.3s;
  cursor: pointer;
}

.iconClose {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-25%);
}
.iconClose:hover {
  transition: all 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 1075px) {
  .input__textarea {
    height: 18vh;
  }
}
@media screen and (max-width: 1000px) {
  .input__label, .input__wrapper2 {
    font-size: 16px;
  }
  .input__auth {
    width: 350px;
  }
}
@media screen and (max-width: 890px) {
  .input__textarea {
    height: 14vh;
    width: 55vw;
  }
}
@media screen and (max-width: 580px) {
  .input__label, .input__wrapper2 {
    font-size: 14px;
    width: 100%;
  }
  .input__auth {
    width: 320px;
    font-size: 12px;
  }
}
@media screen and (max-width: 495px) {
  .input__textarea {
    height: 125px;
    width: 300px;
  }
}
@media screen and (max-width: 385px) {
  .input__auth {
    width: 280px;
  }
}
@media screen and (max-width: 400px) {
  .input__textarea {
    width: 280px;
  }
}
@media screen and (max-width: 355px) {
  .input__textarea {
    width: 250px;
  }
}
.singup__section {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.singup__section__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 1.5vh;
  margin-bottom: 5vh;
}
.singup__section__header__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-size: clamp(19px, 2vw, 24px);
}
.singup__section__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.singup__section__body__label {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #C5C5C5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.singup__section__body__checkboxWrapper {
  max-width: 400px;
  width: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.singup__section__body__checkboxWrapper__label {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #C5C5C5;
  max-width: -moz-max-content;
  max-width: max-content;
  text-align: justify;
  width: 100%;
}
.singup__section__body__checkboxWrapper__label__link {
  color: #9E76E9;
}
.singup__section__body__checkboxWrapper__label__link:hover {
  color: #765bab;
  cursor: pointer;
  transition: all 0.3s;
}
.singup__section__body__checkboxWrapper__label__link:active {
  color: #9E76E9;
}
.singup__section__body__submitBtn {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: #9E76E9;
  color: #1D1D1D;
  border: 2px solid #9E76E9;
  border-radius: 30px;
  padding: 12px 20px;
}
.singup__section__body__submitBtn.unactive {
  cursor: not-allowed;
  color: #C5C5C5;
  background-color: #B0AFAF;
  border: 2px solid #B0AFAF;
}
.singup__section__body__submitBtn.unactive:hover {
  cursor: not-allowed;
  color: #C5C5C5;
  background-color: #B0AFAF;
  border: 2px solid #B0AFAF;
}
.singup__section__body__submitBtn:hover {
  border-color: #9E76E9;
  background-color: #765bab;
  cursor: pointer;
  transition: all 0.3s;
}
.singup__section__body__submitBtn:active {
  border-color: #765bab;
  cursor: pointer;
  transition: all 0.3s;
}

#singUp_checkbox {
  accent-color: #9E76E9;
}

@media screen and (max-width: 1000px) {
  .singup__section__body__checkboxWrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 580px) {
  .singup__section__body {
    gap: 25px;
  }
  .singup__section__body__checkboxWrapper {
    max-width: 320px;
    gap: 10px;
  }
  .singup__section__body__checkboxWrapper__label {
    font-size: 14px;
  }
  .singup__section__body__submitBtn.unactive, .singup__section__body__submitBtn {
    font-size: 14px;
  }
  .singup__section__body__checkboxWrapper__label {
    text-align: left;
  }
}
@media screen and (max-width: 385px) {
  .singup__section__body__checkboxWrapper {
    max-width: 280px;
    gap: 20px;
  }
  .singup__section {
    padding-left: 10px;
  }
}/*# sourceMappingURL=SingUpPage.css.map */