@import '../../style.scss';
@import '../../components/CustomInput/CustomInput.scss';

.singup__section {
    width: 100vw;
    height: 100vh;
    @include flexColumn;

    &__header {
        @include flexColumn;
        justify-content: center;
        margin-bottom: 5vh;

        &__logo {
            @include h1Style;
            font-size: clamp(45px, 2vw, 55px);
            &__span {
                color: $main-purple;
            }
        }

        &__text {
            @include h2Style;
            font-size: clamp(19px, 2vw, 24px);
        }
    }

    &__body {
        @include flexColumn;
        gap: 35px;
        &__label {
            @include h3Style;
            color: $light-gray-text;
            @include flexColumn;
            align-items: flex-start;
        }

        &__checkboxWrapper {
            max-width: 400px;
            width: 100%;
           width: auto;
           @include flexRow;
           gap: 5px;

            &__label {
                @include h4Style;
                font-size: 16px;
                color: $light-gray-text;
                max-width: max-content;
                text-align: justify;
                width: 100%;

                &__link {
                    color: $main-purple;

                    &:hover {
                        color: $hover-purple;
                        cursor: pointer;
                        transition: $transition;
                    }
                    &:active {
                        color: $main-purple;
                    }
                }
            }
        }


        &__submitBtn {
            @include FillBodyBtn;
            
            &.unactive {
                cursor: not-allowed;
                color: $light-gray-text;
                background-color: $dark-gray-text;
                border: 2px solid $dark-gray-text;

                &:hover {
                    cursor: not-allowed;
                    color: $light-gray-text;
                    background-color: $dark-gray-text;
                    border: 2px solid $dark-gray-text;
                }
            }

            &:hover {
                @include FillBodyBtnHover;
            }

            &:active {
                @include FillBodyBtnActive;
            }
        }
    }

    
}

@media screen and (max-width: 1000px) {

    .singup__section__body__checkboxWrapper {
        max-width: 350px;
    }
}

@media screen and (max-width: 580px) {
    .singup__section__body__checkboxWrapper {
        max-width: 320px;
    }
    .singup__section__body__checkboxWrapper__label {
        font-size: 14px;
    }
    .singup__section__body__submitBtn.unactive, .singup__section__body__submitBtn {
        font-size: 14px;
    } 
}

@media screen and (max-width: 385px) {

    .singup__section__body__checkboxWrapper {
    max-width: 280px;
    }
}