@import '../../style.scss';
@import '../../components/CustomInput/CustomInput.scss';

.singup__section {
    width: 100vw;
    height: 100vh;
    @include flexColumn;

    &__header {
        @include flexColumn;
        justify-content: center;
        margin-bottom: 5vh;

        &__logo {
            @include h1Style;
            &__span {
                color: $main-purple;
            }
        }

        &__text {
            @include h2Style;
        }
    }

    &__body {
        @include flexColumn;
        gap: 35px;
        &__label {
            @include h3Style;
            color: $light-gray-text;
            @include flexColumn;
            align-items: flex-start;
        }

        &__checkboxWrapper {
           max-width: 25vw;
           width: 100%;
           @include flexRow;
           gap: 15px;

            &__label {
                @include h4Style;
                font-size: 16px;
                color: $light-gray-text;
                max-width: max-content;
                text-align: justify;
                width: 100%;

                &__link {
                    color: $main-purple;

                    &:hover {
                        color: $hover-purple;
                        cursor: pointer;
                        transition: $transition;
                    }
                    &:active {
                        color: $main-purple;
                    }
                }
            }
        }


        &__submitBtn {
            @include FillBodyBtn;
            
            &.unactive {
                cursor: not-allowed;
                color: $light-gray-text;
                background-color: $dark-gray-text;
                border: 2px solid $dark-gray-text;

                &:hover {
                    cursor: not-allowed;
                    color: $light-gray-text;
                    background-color: $dark-gray-text;
                    border: 2px solid $dark-gray-text;
                }
            }

            &:hover {
                @include FillBodyBtnHover;
            }

            &:active {
                @include FillBodyBtnActive;
            }
        }
    }

    
}