@import '../../style.scss';

@mixin notif {
        width: 20vw;
        height: auto;
        padding: 22px 25px;
        border-radius: 20px;
        background-color: $main-black;
        color: $main-white;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.70);
        @include flexRow;
        justify-content: flex-start;
        position: fixed;
        z-index: 15;
        transition: $transitionToNotif;
}
       

.notif__wrapper {

        @include notif;
        bottom: 0;
        right: 55px;
        opacity: 0;

    &-show {
        @include notif;
        // position: fixed;
        bottom: 20px;
        right: 55px;
        opacity: 1;
    }
    

    &__title {
        @include h3Style;
    }
}